*{
    margin:0;
    padding:0;
    font-family: 'Avenir';
}
h1{
    text-align: center;
}
body{
    height: 100vh;
    background: linear-gradient(to right,#2f2f31,dimgray , grey, dimgray, #2f2f31);
    background: linear-gradient(to right,#FFE7DB, #F5F5FF , #9999B2, #F5F5FF, #FFE7DB);
}
#display{
    width: 100%;
    background: darksalmon;
    height: 60px;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
    color: white;
}
#calculator{
    width: 400px;
    margin: 0 auto;
    border: 3px solid rgba(255,255,255,0.8);
    background: rgba(255,255,255,0.3);
}
#buttons{
    display: flex;
    flex-wrap: wrap;
    height: 40vh;

}
button{
    padding: 5px;
    width: 24%;
    background: lavender;
    border: none;
    font-size: 18px;
    margin: 2px;
    border-radius: 5px;
    box-shadow: 2px 2px 5px #888888;
}
button:focus{
    outline: none;
    background: white;
}

